.search-row {
    width: 30%;
    float:left;
    background-color: rgb(253, 252, 252);
}

.search-box{
    padding-bottom: 15px;
}
  
.forecast-row{
    margin-left:30%;
    
}

.day-cards{
    width:20%;
    display:flex;
    border: 2px solid white;
    border-radius: 5%;
    background-color: rgb(70, 111, 223);
    color:white
}

.forecast-card{
    width: 100%;
    
}

.cityBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border:none;
}
.card{
    width: 90%;
    margin: 5px;
}