.search-row {
    border: 2px solid black;
    width: 30%;
    float:left; 
}

.search-box{
    padding-bottom: 15px;
}
  
.forecast-row{
    border: 2px solid red;
    margin-left:30%;
}

.forecast-card{
    width: 100%;
}

.cityBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border:none;
}